

.clock {
  position: relative;
  text-align: center;
  color: #e9e208;
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text1 {
  position: relative;
  text-align: center;
  color: #e9e208;
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text2 {
  position: relative;
  text-align: center;
  color: #e9e208;
  font-size: 35x;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-right: 100px;
  margin-left: 100px;
}
#maindiv{
  height:900px;
  background-image:url("/javascript/odev1/assets/as.jpg");
  background-repeat: no-repeat;
  background-size:contain;
}
