

.clock {
  position: relative;
  text-align: center;
  color: #e9e208;
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text1 {
  position: relative;
  text-align: center;
  color: #e9e208;
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-bottom: 55px;
  margin-top: 130px;
}

.text2 {
  position: relative;
  text-align: center;
  color: #e9e208;
  font-size: 45x;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-top: 32px;
}
#maindiv{
  width:300px;
  height:600px;
  background-image:url("/javascript/odev1/assets/as.jpg");
  background-repeat: no-repeat;
  background-size:70%;
  border-radius: 12em;
}
