/* Tüm sayfa için font renk özellikleri */
body{
    background: #fff;
    color: #222; 
    font-family: arial,sans-serif;
    font-size: small;
}

/************ header start *************/
/* ul inkler */
.head {
    padding-left: 0; /* yazılar sola getirilir */
    overflow:visible;
    margin: 11px;
    margin-top: -27px; /*yazılar daha yukarı taşındı*/
    
}

/* üst soldaki linkler */
.head-leftli{
    margin-right: 16px; /* linkler arasında boşluk bırakır */
    display: flex;
    float: left; /* linkler yan yana sola soğru dizilir */
    
}

.head-leftli a {
 color: #000000; /*link rengi değişir*/
 padding-left: 15px;
 font-size: 13px;
 opacity: 0.75; /* opaklığı ayarlıyor ,rengini açtık */
 text-decoration: none;
 
 
}
/* profil fotoğrafı */
.pic { 
    display: flex;
    float: right;
    text-align: center;
    margin-right: 12px;
    margin-top: -6px;
}




/* svg  */
.head-rightliSvg{
    margin-right: 15px; /* linkler arasında boşluk bırakır */
    display: flex;
    float:right; /* linkler yan yana sağa soğru dizilir */
    opacity: 0.55;
    padding: 0px 1px;
    margin-top: -2px;
}

/* üst sağdaki linkler */
.head-rightli{
    margin-right: 12px; /* linkler arasında boşluk bırakır */
    display: flex;
    float:right; /* linkler yan yana sağa soğru dizilir */
    
}

.head-rightli a {
 color: #000000; /*link rengi değişir*/
 padding-left: 15px;
 font-size: 13px;
 opacity: 0.75; /* opaklığı ayarlıyor ,rengini açtık */
 text-decoration: none;  /* metin dekorasyonu temizlenir */
}

/************ header start *************/





/* google logo div */
.g-logo {
    text-align: center;
    margin: 47px 0px 0px;
    height: 233px;
    margin-top: 89px;
   
}
/* google logo resmi*/
.g-logo img{
    padding: 109px 0px 0px;
    width: 272px;
}

/* Arama motoru --panel özellikler*/
.search-panel{
   
    background: #fff;
    border: 1.5px solid #dfe1e5; /*çerçeve rengi ayarlama*/
    display: flex; 
    align-items: center; /*nesneleri hizalar*/
    box-shadow: none; /*Gölgelenirmek için*/
    margin: 0 auto;
    height: 46px;
    margin: 0 auto; 
    margin-top: 7px; 
    width: 484px;
    border-radius: 50px; /*çerçeve yuvarlaklaştırılır*/
}

/* arama motoru üzerine imleç gelince gölgeleme olur  */
.search-panel:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28)
}

.search{
    flex:1; /*flex özelliği ile nesnelere esnekklik sağlayıp hizalandırdık*/
    display: flex;
    padding: 5px 8px 0px 13px;
}

/* svg icon */
.searchIcon svg {
    width: 20px;
    height: 20px;
    color: #9aa0a6;
    fill: currentColor; /*rengini değitirdik*/
}

.searchIcon{
    width: 100%;
    height: 100%;
    display:flex;
    flex: 1;
}


.input-area {
    color: transparent;
    flex: 100%;
    display: block;
}

/* textbox düzenleme */
.input{
   background-color: transparent;
   border: none; /*kenarları kaldırır*/
   margin: 0;
   padding: 0;
   color: rgba(0,0,0,.87);
   word-wrap: break-word;
   outline: none; 
   display: flex;
   flex: 100%;
}

/* ses iconu */
.voice-icon{
    margin-right: 16px;
}
.voice-icon button{
    background-color: transparent;
    border: none;
    
}



/* butonlar */
.buttons{
    display: flex;
    font-size: 13,5px;
    margin-top: 55px;
}

.buttons button{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}




